:host{
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: grid;
    grid-template-columns: 404px auto;
    align-items: center;
    grid-column-gap: 50px;

    .app-logo-container{
        justify-self: end;
        .app-logo{
            width: 260px;
            height: 81px;
            justify-content: right;
            background: url('../../../../assets/images/Logo2.png');
        }
    }
}
