.button-container{
    width: 16.25em;
    height: 2.625em;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 0.75em 1em;
    cursor: pointer;

    &:hover{
        background: #ffffff;
    }

    .label{
        float:left;
    }

    .arrow-container{
        margin-top: 1px;
        float:right;
        .arrow{
            background: url('../../../../assets/images/arrow.svg');
            background-size: 1.563em 0.875em;
            width: 1.563em;
            height: 0.875em;
        }
    }

    &.back-button{
        .label{
            float:right;
        }

        .arrow-container{
            float:left;
            .arrow{
                transform: rotate(180deg);
            }
        }
    }
}