.rating-container{
    display: grid;
    grid-template-columns: minmax(1.438em, 1.75em) auto;
    align-items: center;
    grid-column-gap: 0.5em;

    .rate-star-icon{
        background: url('../../../../assets/images/star.svg');
        background-size: 1.75em 1.688em;
        width: 1.75em;
        height: 1.688em;
    }

    .rating-details{
        font-size: 1.5em;
        font-family: Sharp Sans;
        letter-spacing: -0.4px;
        text-align: left;
    }
}