<div class="movie-details-container" *ngIf="movieDetails">
    <div class="movie-cover" [ngStyle]="{'background-image': 'url(' + movieDetails.largeimage + ')'}">
        <div class="cover"></div>
    </div>
    <div class="movie-details">
        <div class="movie-title">{{movieDetails.title}}</div>
        <div class="movie-length">{{movieDetails.runtime}}</div>
        <app-rating [currentRating]="movieDetails.rating" [showHighRate]="true"></app-rating>
        <div class="movie-description" [innerHTML]="movieDetails.synopsis"></div>
        <app-button [isBackButton]="true" (buttonClick)="backClicked.emit($event)" buttonLabel="Back to list">
        </app-button>
    </div>
</div>