:host{
    width: 100%;
    height: 100%;
    background: #231F20;
    text-align: center;
    color: #ffffff;
    font-family: Georgia;

    .next-icon{
        background: url('../../../../assets/images/favicon.svg');
        width: 2.5em;
        height: 2.5em;
        margin: 2.5em auto 1.688em;
    }

    .contact-container{
        .label{
            font-size: 2.063em;
        }

        .details{
            font-size: 1em;
            margin-top: 0.813em;
        }
    }

    .socials-share-container{
        margin: 2.375em auto 0;
        display: flex;    
        justify-content: center;
        align-items: center;

        ul{
            list-style-type: none; 
            padding: 0; 
            margin: 0; 
            li{
                float: left;
                margin-left: 2.375em;
                
                &:first-child{
                    margin-left: 0;
                }

                div.social-icon{
                    cursor: pointer;
                    &.facebook{
                        background-image: url('../../../../assets/images/facebook-share-icon.svg');
                        background-size: 10px 20px;
                        width: 10px;
                        height: 19px;
                    }
                    &.linkedin{
                        background-image: url('../../../../assets/images/linkedin-share-icon.svg');
                        background-size: 16px 16px;
                        width: 16px;
                        height: 16px;
                    }
                    &.twitter{
                        background-image: url('../../../../assets/images/twitter-share-icon.svg');
                        background-size: 20px 16px;
                        width: 20px;
                        height: 16px;
                    }
                    &.instagram{
                        background-image: url('../../../../assets/images/instagram-share-icon.svg');
                        background-size: 19px 19px;
                        width: 19px;
                        height: 19px;
                    }
                    &.youtube{
                        background-image: url('../../../../assets/images/youtube-share-icon.svg');
                        background-size: 21px 15px;
                        width: 21px;
                        height: 15px;
                    }
                }
            }
        }
    }
}