.movie-item-container{
    display: grid;
    grid-template-rows: 385px 55px 29px 42px;
    grid-row-gap: 15px;
    min-width: 144px;
    max-width: 260px;

    .movie-cover{
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: auto;
        width: 100%;
    }

    .movie-name{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.45em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left;
    }
}