.movie-item-container{
    display: grid;
    grid-template-rows: 385px 66px 28px 42px;
    grid-row-gap: 20px;
    width: 260px;

    .movie-cover{

    }

    .movie-name{

    }

    .movie-rating{

    }

    .movie-actions{

    }
}